# Hugo
.hugo_build.lock

# Hugo default output directory
/public

# Hugo resource cache (regenerated on build)
/resources/_gen/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# VS Code
.vscode/

